@page "/"
@using MatBlazor
@using wasmChess.Shared




<div class="chessboard">

    @*@for (int i = 0; i > chessboard.RanksNumber; i++)
        {
            for (int j = 0; j < chessboard.FilesNumber; j++)
            {
                <div class="@chessboard.squares[i,j].RankName">
                    <div class="@chessboard.squares[i,j].FileName">
                        <i class="fas fa-square-full" aria-hidden="true" style="color: black;" />
                    </div>
                </div>
            }

        }*@

    @foreach (var square in chessboard.squares)
    {
        <div class="@square.RankName">
            <div class="@square.FileName">
                <i class="fas fa-square-full" aria-hidden="true" style="color: @square.Color" />
            </div>
        </div>

    }

    <MatIconButton Class="piece Ra1">
        <i class="fas fa-chess-rook"></i>
    </MatIconButton>




</div>



@*<img src="/img/1200px-Chess_Board.svg.png" alt="chessboard" width="640" height="640" />*@

@code {
    public string style = "color: #b62b2b";

    Chessboard chessboard;

    protected override void OnInitialized()
    {
        chessboard = new Chessboard();
    }
}
